@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans:400,800&subset=latin-ext');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #E6ECF0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 50px;
    padding: 30px;
}

.box {
	max-width: 50vw;
	border: 3px solid #4AB3F4;
	border-radius: 10px;
	padding: 30px;
    margin: auto;
	margin-top: 20px;
}

.box .quote {
	font-weight: regular;
}

.box .author {
    font-family: 'Dancing Script', cursive;
	text-align: right;
	padding-top: 10px;
}

.trigger {
	display: block;
	padding: 10px 15px;
    margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	background: #4AB3F4;
	color: #fff;
	font-size: 18px;
	border: none;
	cursor: pointer;
}

a {
	display: block;
    font-size: 20px;
    padding-bottom: 20px;
	color: #4AB3F4;
    text-decoration: none;
}

a:hover i{
    color: #fff;
}

i {
    padding-right: 5px;
    transition: 0.8s;
}

